#graph {
    border: 1px solid black;
    width: 100%;
    height: 800px;
}

.boundingBox {
    fill: none;
    stroke: rgba(62, 131, 187, 0.616);
    stroke-width: 1;
    stroke-dasharray: 5, 2
}

#minimap-container {
    border: 1px solid black;
}

#minimap {
    border: 1px solid darkblue;
    background-color: rgb(210, 255, 212);
}

label {
    font-size: 12px;
    fill: red;

}
.viewport {
    fill: none;
    stroke: rgba(255, 0, 0, 0.616);
    /* stroke-width: 8; */
    cursor: move;
}

.drawing_boundary {
    stroke: gray;
    stroke-width: 0.05;
    /* fill: rgba(255, 255, 224, 0.26); */
    fill: rgba(255, 255, 224, 0.86);
}

.node {
    stroke: rgba(70, 131, 180, 0.9);
    stroke-width: 0.05;
    /* fill: steelblue;             */
    fill: rgba(70, 131, 180, 0.9);
    cursor: zoom-in;
}

.edge {
    stroke: rgb(204, 214, 221, 0.8);
    stroke-width: 2px;
    fill: none;
    marker-end: url(#arrowhead);
}

.ghostline {
    /* stroke: rgba(81, 77, 131, 0.548); */
    stroke: red;
    stroke-width: 1px;
    fill: none;
    marker-start: url(#circle-marker);
    marker-end: url(#circle-marker);
}

.marker {
    stroke: rgb(204, 214, 221, 0.8);
    stroke-width: 1px;
    fill: rgb(204, 214, 221, 0.8);
    /* marker-end: url(#arrowhead); */
}

.circlemarker {
    stroke: none;
    /* stroke-width: 4px; */
    fill: red;
    /* marker-end: url(#arrowhead); */
}

.label {
    font-size: 12px;
    text-anchor: middle;
    fill: white;
}

.connection-point {
    fill: rgb(70, 130, 180, 0.8);
    stroke: rgb(154, 169, 182);
    /* stroke: rgba(70, 131, 180, 0.5); */
}