body {
    background-color: white;
    font-family: Arial;
  }

  line {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
  }
  
  text {
    font-size: 12px;
    text-anchor: middle;
    stroke: none;
  }

  .lanelabel
  {
    font-size: 16px;
    fill: gray;
    text-anchor: middle;
  }

  
svg.container {
  background-color:#FAFAFA;
  border-color: #d3d3d3;
  border-width: 2px;
  border-style: solid;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}


  .container {
    stroke: rgb(187, 26, 26);
    stroke-opacity: 0.4;
    stroke-width: 2;
  }

  .node {
    fill: #9a9ab9;
    fill-opacity: 0.8; 
    stroke: #414197;
    stroke-opacity: 0.4;
    stroke-width: 2;
  }

  .node_label
  {
    font-size: 12px;
    fill: rgb(66, 66, 88);
    fill-opacity: 0.8;
    text-anchor: middle;
  }

line.link {
    stroke-width: 2px;
    stroke: #999;
    stroke-opacity: 0.6;
}

line.ghostlink {
  stroke-width: 2px;
  stroke: #FFF;
  stroke-opacity: 0.15;
}

marker#arrow {
    stroke: #999;
    stroke-opacity: 0.4;
    fill: #999;
    fill-opacity: 0.4;
}

  .lane {
    stroke: rgb(211, 211, 211);
    stroke-opacity: 1;
    stroke-width: 1;
}

  .lane1 {
    text-align: center;
    fill:rgb(83, 142, 194);
    fill-opacity: 0.1;
  }

  
  .lane2 {
    text-align: center;
    fill: #2fc792;
    fill-opacity: 0.1;
}

.database {
    text-align: center;
    fill:lightgray;
    fill-opacity: 0.4;
    stroke: gray;
    stroke-opacity: 0.4;
    stroke-width: 1;
  }

  