body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
#index {
    width: 30%;
    padding: 20px;
    overflow-y: auto;
    border-right: 1px solid #ccc;
}
#viewer {
    width: 70%;
    border: none;
    height: 100%;
}
h2 {
    border-top: 4px solid rgba(105, 126, 143, 0.479);
    border-left: 4px solid rgba(105, 126, 143, 0.479);
    color: rgba(105, 126, 143, 1);
    /* padding: 4px; */
    padding-left: 0px;
    margin:0px;
}
h2 .number {
    background: rgba(105, 126, 143, 0.479);
    color: white;
    font-size: 1.4em;
    padding: 0px 8px 2px 4px;
    /* border: 4px solid rgba(105, 126, 143, 0); */
    /* margin-left: -4px; */
}
ul {
    margin:0px 0px 20px 0px;
    list-style-type: none;
    padding: 0px 0px 20px 0px;
    border-left: 4px solid rgba(105, 126, 143, 0.479);
}

.folder {
    color: grey;
    width: 200px;
    display: inline-block;
    text-align: right;
    padding: 2px;
    margin-right: 10px;
    font-size: 0.8em;
}
a{
    font-size: larger;
    text-decoration: none;
    color: blue;
    cursor: zoom-in;
}
a:hover {
    text-decoration: none;
    font-weight: bold;
}
.link-icon {
    font-size: 0.6em;
    vertical-align: top;
    margin-left: 5px;
    text-decoration: none;
    cursor: pointer;
}
a.link-icon:hover {
    text-decoration: none;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

}