body {
  background-color: white;
  font-family: Arial;
}

.circleNode circle  {
  fill: #4e90c5;
  opacity: 0.5;
  stroke: #000;
  stroke-opacity: 0.8;
  stroke-width: 1.5px;
}
.circleNode text {
  font: 12px sans-serif;
  font-weight: bold;
  text-anchor: middle;
  fill: #000;
}

.rectangleNode rect  {
  fill: #4e90c5;
  opacity: 0.5;
  stroke: #000;
  stroke-opacity: 0.8;
  stroke-width: 1.5px;
}
.rectangleNode text {
  font: 12px sans-serif;
  font-weight: bold;
  text-anchor: middle;
  fill: #000;
}