#graph {
  border: 1px solid black;
  width: 100%;
  height: 800px;
  background-color: rgba(200, 200, 200, 0.2);
}

#graph rect.boundingBox {
  fill: none;
  stroke: rgba(0, 160, 0, 0.5);
}


#minimap-container {
  border: 1px solid black;
}

#minimap {
  border: 1px solid darkblue;
  width: 1600px;
  height: 600px;
  background-color: rgba(200, 200, 200, 0.2);
  /* background-color:rgba(255,255,255, 0.7); */
}

#minimap rect.background {
  fill: white;
  stroke: rgb(136, 136, 136);
}

#minimap rect.boundingbox {
  fill: none;
  stroke: rgba(255, 0, 0, 0.5);
  stroke-width: 4px;
}


#minimap .eye {
  /* fill: rgba(238, 237, 221, 0.6) */
  fill: rgba(255, 255, 255, 0.7)
}

#minimap .iris {
  fill: none;
  stroke: rgba(255, 0, 0, 0.2);
  stroke-width: 8px;
}


body {
  background-color: white;
  font-family: Arial;
}

/* #graph-container {
    background-color: red;
  } */


#graph .dashboard {
  fill: green;
}

svg.container {
  border: 1px solid #000;
  background-color: red;
}

svg.canvas {
  background-color: #e6e3e3;
  border-color: #d3d3d3;
  border-width: 2px;
  border-style: solid;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}

.centermark {
  fill: red;
  stroke: white;
  stroke-width: 1;
}

.connection-point {
  fill: rgb(155, 155, 226);
  stroke: none;
}

/* .connection-point {
    fill: rgb(70, 130, 180, 0.8);
    stroke: rgb(154, 169, 182);
  } */

/* 
  line {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
  }
  
  text {
    font-size: 12px;
    text-anchor: middle;
    stroke: none;
  }
  
  rect {
    fill: cadetblue;
    opacity: 0.3;
    stroke: white;
  } */

.lanelabel {
  font-size: 16px;
  fill: gray;
  text-anchor: middle;
}




/*
------------------------------------------------------------------------------------------------------------------------------------------------
*/

.node.shape {
  fill: #9b9bfa;
  fill-opacity: 0.95;
  stroke: rgb(65, 65, 151);
  stroke-opacity: 0.4;
  stroke-width: 2;
  cursor: default;
  opacity: 0.3;
}

/* status update */

.node.shape[status="Unknown"] {
  color: lightslategray;
}

.node.shape[status="Ready"] {
  fill: lightblue;
}

@keyframes running-process {
  0% {
      background: lightgreen;
      box-shadow: 0px 0px 5px 5px lightgreen;
  }

  15% {
      background: lightgreen;
      box-shadow: none;
  }

  50% {
      background: transparent;
      box-shadow: none;
  }

  85% {
      background: lightgreen;
      box-shadow: none;
  }

  100% {
      background: lightgreen;
      box-shadow: 0px 0px 5px 5px lightgreen;
  }
}

/* .node.shape[status="Updating"] {
  animation: running-process 1s infinite;
} */


@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

.node.shape[status="Updating"] {
  fill: lightgreen;
  fill-opacity: 1;
  stroke: green;
  stroke-opacity: 100%;
  opacity: 100%;
  stroke-dasharray: 10;
  animation: dash 10s forwards linear infinite;
}

.node.shape[status="Updated"] {
  fill: green;
}

.node.shape[status="Skipped"] {
  fill: yellowgreen;
}


.node.shape[status="Delayed"] {
  fill: orange;
}

.node.shape[status="Warning"] {
  fill: orangered;
}

.node.shape[status="Error"] {
  fill: red;
}

/* default styles */



.node.selected .node.shape {
  stroke: rgb(53, 53, 175);
  /* stroke-opacity: 0.95; */
  stroke-opacity: 1;
  stroke-width: 3;
  opacity: 0.8;
}

.node.placeholder {
  stroke: red;
  stroke-opacity: 1;
  stroke-width: 2;
}

.node_grabbing {
  fill: #9b9bfa;
  fill-opacity: 0.95;
  stroke: rgb(65, 65, 151);
  stroke-opacity: 0.8;
  stroke-width: 4;
  cursor: grabbing;
}

.node.label {
  stroke: none;
  font-size: 14px;
  font-weight: bold;
  /* fill: rgb(216, 216, 241); */
  fill: black;
  fill-opacity: 0.8;
  text-anchor: middle;
  dominant-baseline: middle;
}

.node.label.container {
  font-size: 12px;
  font-weight: normal;
  /* fill: rgb(216, 216, 241); */
  fill: rgb(65, 65, 151);
  fill-opacity: 0.8;
  text-anchor: start;
  dominant-baseline: hanging;
}


.node.label.group {
  font-size: 12px;
  font-weight: normal;
  /* fill: rgb(216, 216, 241); */
  fill: rgb(65, 65, 151);
  fill-opacity: 0.8;
  text-anchor: start;
  dominant-baseline: hanging;
}

.node.label.adapter {
  font-size: 12px;
  font-weight: normal;
  /* fill: rgb(216, 216, 241); */
  fill: rgb(65, 65, 151);
  fill-opacity: 0.8;
  text-anchor: start;
  dominant-baseline: hanging;
}

.edge .path {
  stroke-width: 2px;
  stroke: #7795D1;
  /* stroke: green; */
  fill: none;
  marker-end: url(#arrow);
  /* marker-mid: url(#mid-arrow);  */
  /* marker-start: url(#arrow); */
}

.edge.selected .path {
  stroke: rgb(53, 53, 175);
  /* stroke-opacity: 0.5; */
  stroke-opacity: 1;
  opacity: 0.8;
}


.edge.ghostline {
  stroke-width: 1px;
  /* stroke: #4679BD; */
  stroke: white;
  stroke-opacity: 0.6;
}

.edge.ghostline .path {
  stroke-width: 2px;
  /* stroke: #4679BD; */
  /* stroke: white; */
  stroke: white;
  stroke-opacity: 1;
  stroke-linecap: round;
  /* 0.6; */
  marker-end: url(#debugcircle);
  marker-start: url(#debugcircle);
}






.lane {
  stroke: rgb(211, 211, 211);
  stroke-opacity: 1;
  stroke-width: 1;
}

.lane1 {
  text-align: center;
  fill: rgb(83, 142, 194);
  fill-opacity: 0.1;
}


.lane2 {
  text-align: center;
  fill: #2fc792;
  fill-opacity: 0.1;
}


.parent-node {
  fill: #9b9bfa;
}

.parent-node text {
  user-select: none;
}

.collapsed {
  opacity: 0.7;
}

.expanded {
  font-weight: bold;
}



.zoom-button circle {
  display: none;
  transition: all 0.2s;
}

.zoom-button:hover circle {
  display: block;
  fill: #f0f0f0;
  stroke: #bbb;
  stroke-width: 1px;
  transition: all 0.2s;
  cursor: pointer;

  /* Add shadow for depth */
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.3));
}

.zoom-button rect.icon {
  fill: #acace7;
  transition: fill 0.2s, transform 0.2s;
}

.editbox {
  border: 1px grey solid;
  background: lightblue;
  margin: 0px 2px 0px 2px;
  padding: 2px 2px 0px 2px;
}