div.container {
  border-color: #d3d3d315;
  border-width: 2px;
  border-style: solid;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
  width: 100%;
  height: 600px;
}