div.container {
  border-color: #d3d3d315;
  border-width: 2px;
  border-style: solid;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
  width: 100%;
  height: 600px;
}


svg.table1 {
  border-color: #d3d3d315;
  border-width: 2px;
  border-style: solid;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
  padding: 0px;
}

svg.table {
  padding: 0px;
}

svg.table rect.background {
  fill: grey;
  stroke: grey;
  opacity: 1;
  rx: 4px;
  ry: 4px;
}

svg.table rect.header {
  fill: grey;
  stroke: grey;
  opacity: 1;
  cursor: grab;
}

svg.table rect.body {
  fill: #DDD;
  opacity: 1;
  stroke: none;
  rx: 2px;
  ry: 2px;
  
}

svg.table text {
  text-anchor: start;
  alignment-baseline: auto;
}

svg.table text.name {
  fill: white;
}

svg.table text.column {
  fill: black;
  font-size: 9px;
}

svg.table text.key {
  fill: rgb(64, 104, 72);
  opacity: 1;
  font-size: 7px;
  font-weight: bolder;
}

svg.table text.type {
  fill: #666;
  opacity: 1;
  font-size: 8px;
  font-weight: normal;
  font-style: italic;
}

svg.table line.separator {
  stroke-opacity: 1;
  stroke: grey;
  stroke-width: 1px;
  cursor: ew-resize;
}

