  line {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
  }
  
  text {
    font-size: 12px;
    text-anchor: middle;
    stroke: none;
  }
  
  
  .lanelabel
  {
    font-size: 16px;
    fill: gray;
    text-anchor: middle;
  }
  
  
  svg.container {
    background-color:#fdfdfd;
    border-color: #d3d3d315;
    border-width: 2px;
    border-style: solid;
    box-shadow: 4px 3px 8px 1px #969696;
    -webkit-box-shadow: 4px 3px 8px 1px #969696;
  }
  
  .node {
    fill: #abaed4;
    fill-opacity: 0.7;
    stroke: #535579;
    stroke-opacity: 0.4;
    stroke-width: 2;
    rx: 4;
    ry: 4;
    cursor: grab;
  }
  
  
  .node_grabbing {
    fill: #9b9bfa;
    fill-opacity: 0.95;
     stroke: rgb(65, 65, 151);
    stroke-opacity: 0.8;
    stroke-width: 4;
    cursor: grabbing;
  }

  .node_label
  {
    font-size: 12px;
    font-weight: normal;
    fill: #181847;
    fill-opacity: 0.8;
    text-anchor: middle;
    color: red;
    cursor: grab;
  }
  
  line.link {
    stroke-width: 2px;
    stroke: #999;
    stroke-opacity: 0.6;
  }
  
  line.ghostlink2 {
    stroke-width: 2px;
    stroke: #F00;
    stroke-opacity: 0.1;
  }
  
  
  line.ghostlink {
    stroke-width: 2px;
    stroke: #FFF;
    stroke-opacity: 0.0;
  }
  
  
  marker#arrow {
    stroke: #999;
    stroke-opacity: 0.4;
    fill: #999;
    fill-opacity: 0.9;
  }
  
  .lane {
    stroke: rgb(211, 211, 211);
    stroke-opacity: 1;
    stroke-width: 1;
  }
  
  .lane1 {
    text-align: center;
    fill:rgb(83, 142, 194);
    fill-opacity: 0.1;
  }
  
  
  .lane2 {
    text-align: center;
    fill: #2fc792;
    fill-opacity: 0.1;
  }
  
  .database {
    text-align: center;
    fill:lightgray;
    fill-opacity: 0.4;
    stroke: gray;
    stroke-opacity: 0.4;
    stroke-width: 1;
  }
  
  